{% extends 'base.html' %}

{% block title %} - 結果{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<!-- <script src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/kendo.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/chartkick.js') }}"></script>
<!-- <script src="./static/js/jquery.js"></script> -->
<!-- <script src="./static/js/kendo.js"></script> -->
<!-- <script src="./static/js/visual.js"></script> -->
<!-- <script src="{{ url_for('static', filename='js/visual.js') }}"></script> -->
{% endblock %}

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% block content %}
<div class="container-fluid row my-2 col-10 offset-1 mb-5 mt-4">
    <div class="container-fluid my-2">
        <hr>
        <h5 class="card-title offset-1">貼文正面詞彙</h5>
        {% column_chart ap %}
        <h5 class="card-title offset-1">貼文負面詞彙</h5>
        {% column_chart an %}
        <h5 class="card-title offset-1">留言正面詞彙</h5>
        {% column_chart mp %}
        <h5 class="card-title offset-1">留言負面詞彙</h5>
        {% column_chart mn %}
    </div>
</div>
{% endblock %} 

{% block footer %}
<footer class="d-flex py-4">
    <div class="container-fluid footer-text-container offset-1">
        <p class="footer-text">
            熱門話題分析系統 02-XXXXXXX <br>
            台北市大安區忠孝東路三段1號
        </p>
    </div>
    <div class="container-fluid d-flex flex-column justify-content-around">
        <div class="footer-a-container d-flex justify-content-end">
            <a href="{{ url_for('index') }}">首頁</a>
            <a href="">最新消息</a>
            <a href="">分析結果</a>
            <a href="">關於我們</a>
        </div>
        <div class="d-flex justify-content-end software-logo">
            <a href="https://www.facebook.com/" target="_blank"><img src="{{ url_for('static', filename='image/facebook.png') }}" alt="facebook"></a>
            <a href="https://www.instagram.com/?hl=zh-tw" target="_blank"><img src="{{ url_for('static', filename='image/instagram.png') }}" alt="instagram"></a>
            <a href="https://twitter.com/?lang=zh-tw" target="_blank"><img src="{{ url_for('static', filename='image/twitter.png') }}" alt="twitter"></a>
        </div>
    </div>
    <div class="offset-1"></div>
</footer>
{% endblock %}
{% block scripts %}{% endblock %}
